[submodule "GreenDroid"]
	path = GreenDroid
	url = https://github.com/cyrilmottier/GreenDroid.git
[submodule "android-mapviewballoons"]
	path = android-mapviewballoons
	url = https://github.com/jgilfelt/android-mapviewballoons.git
